@import 'tailwindcss';

body {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: var(--color-neutral-800);
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--color-neutral-800);
        background-color: #ffffff;
    }
    a:hover {
        color: var(--color-primary-600);
    }
    button {
        background-color: var(--color-neutral-50);
    }
}
